
.cont{
    opacity: 1;
} 


h1{
    color: #0C143E;
    font-weight:800;
    font-size: 32px;
    margin-right: 30px;
}

@media screen and (max-width: 769px) {
    
    .p_1{

        color: var(--unnamed-color-0c143e);
        text-align: center;
        padding-top: 3%;
        font: normal normal 600 20px/36px Poppins;
        letter-spacing: 0px;
        color: #0C143E;
        opacity: 1;
    }

    .container{
        width: 100%;
        height: auto;
    }

    .img{
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 20px #10121A29;
        opacity: 1; 
    }

    .div1_A_xs{

        background: rgba(41,177,229,1);
        background: -moz-linear-gradient(top, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,177,229,1)), color-stop(33%, rgba(41,177,229,1)), color-stop(66%, rgba(12,143,226,1)), color-stop(100%, rgba(0,114,229,1)));
        background: -webkit-linear-gradient(top, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        background: -o-linear-gradient(top, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        background: -ms-linear-gradient(top, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        background: linear-gradient(to bottom, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b1e5', endColorstr='#0072e5', GradientType=0 );
        
    }

    .text_xs{
        margin-top: 5%;
    }

    .p_2{
        color: var(--unnamed-color-1e1f21);
        text-align: center;
        font: normal normal normal 16px/31px Poppins;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }

    .div1_B{
        padding-top: 10%;
        padding-bottom: 10%;
    }

}

@media screen and (min-width: 770px) and (max-width: 1055px) {

    .div1_A{
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
    
    .p_1{

        color: var(--unnamed-color-0c143e);
        text-align: center;
        padding-top: 3%;
        font: normal normal 600 30px/36px Poppins;
        letter-spacing: 0px;
        color: #0C143E;
        opacity: 1;
    }

    .div1_A_xs{

        background: rgba(41,177,229,1);
        background: -moz-linear-gradient(top, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,177,229,1)), color-stop(33%, rgba(41,177,229,1)), color-stop(66%, rgba(12,143,226,1)), color-stop(100%, rgba(0,114,229,1)));
        background: -webkit-linear-gradient(top, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        background: -o-linear-gradient(top, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        background: -ms-linear-gradient(top, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        background: linear-gradient(to bottom, rgba(41,177,229,1) 0%, rgba(41,177,229,1) 33%, rgba(12,143,226,1) 66%, rgba(0,114,229,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b1e5', endColorstr='#0072e5', GradientType=0 );
        
    } 

    .div1_B{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .p_2{
        color: var(--unnamed-color-1e1f21);
        text-align: center;
        font: normal normal normal 16px/31px Poppins;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }
}

    @media(min-width:1056px) {


    .p_1{

        color: var(--unnamed-color-0c143e);
        text-align: left;
        padding-left: 10%;
        padding-top: 3%;
        font: normal normal 600 36px/56px Poppins;
        letter-spacing: 0px;
        color: #0C143E;
        opacity: 1;
    }





.p_2{
    color: var(--unnamed-color-1e1f21);
    text-align: left;
    font: normal normal normal 20px/35px Poppins;
    letter-spacing: 0px;
    color: #1E1F21;
    opacity: 1;
}


    .container{
        width: 100%;
        height: auto;
        padding-right: 10%;
        padding-left: 10%;   
        margin-top: 3%;   
        margin-bottom: 3%;  
    }

    img{
        width: 100%;
        opacity: 1; 
        box-shadow: 0px 0px 20px #10121A29;
    }



    .div1_B{
        padding-right: 10%;
    }

}