
<div fxLayout="column" class="cont">

    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
  
      <p class="p_1">
        Compatible apps with Chromecast
      </p>
  
    </div>
  
    <div fxLayout="column"  fxLayoutAlign="center center" class="container ">
  
      <div class="container " fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="center center" class="div">
              <img src="../../assets/img/you1.png">
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="div">
            <img src="../../assets/img/net1.png">
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="div">
            <img src="../../assets/img/dis1.png">
          </div>
 
      </div>
  
      <div class="container " fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" class="div">
            <img src="../../assets/img/hbo1.png">
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="div">
          <img src="../../assets/img/spo1.png">
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="div">
          <img src="../../assets/img/pri1.png">
        </div>

    </div>
  
      <div class="div1_A" fxLayoutAlign="center center">


      </div>
  
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
  
        <p class="p_1">
            And many more options!
        </p>
    
      </div>
  
  
  </div>