.cont{
    opacity: 1;
} 

@media screen and (max-width: 769px) {
    .p_1{

        color: var(--unnamed-color-0c143e);
        text-align: center;
        padding-top: 3%;
        font: normal normal 600 20px/36px Poppins;
        letter-spacing: 0px;
        color: #2870DD;
        opacity: 1;
    }

    .container{
        width: 100%;
        height: 100%;
    }

    img{

        width: 7rem;
        height: auto;

    }

    .div{
        /* background-color: white; */
        padding: 10px 10px 10px 10px ;
        border-radius: 14px;
        margin: 30px 20px 10px 30px;
        /* border: rgb(206, 206, 206) 1px solid; */
        width: 15rem;
        height: 5rem;
        box-shadow: 0px 0px 36px #10121A1A;

        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 36px #10121A1A;
        /* border-radius: 18px; */
        opacity: 1;
    }

}

@media screen and (min-width: 770px) and (max-width: 1055px) {

    .p_1{

        color: var(--unnamed-color-0c143e);
        text-align: center;
        padding-top: 3%;
        font: normal normal 600 30px/36px Poppins;
        letter-spacing: 0px;
        color: #2870DD;
        opacity: 1;
    }

    .container{

        width: 100%;
        height: 100%;
    }

    img{

        width: 7rem;
        height: auto;

    }

    .div{
        /* background-color: white; */
        padding: 10px 10px 10px 10px ;
        border-radius: 14px;
        margin: 30px 20px 10px 30px;
        /* border: rgb(206, 206, 206) 1px solid; */
        width: 20rem;
        height: 5rem;
        box-shadow: 0px 0px 36px #10121A1A;

        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 36px #10121A1A;
        /* border-radius: 18px; */
        opacity: 1;
    }

}

@media(min-width:1056px) {

    .container{

        width: 100%;
        height: 100%;
    }

    .p_1{

        color: var(--unnamed-color-2870dd);
        text-align: center;
        padding-top: 3%;
        font: normal normal 600 30px/50px Poppins;
        /* letter-spacing: 0px; */
        color: #2870DD;
        opacity: 1;
        letter-spacing: 0.72px;

    }

    


    img{

        width: 7rem;
        height: auto;

    }

    .div{
        /* background-color: white; */
        padding: 10px 10px 10px 10px ;
        border-radius: 14px;
        margin: 30px 20px 10px 30px;
        /* border: rgb(206, 206, 206) 1px solid; */
        width: 12rem;
        height: 5rem;
        box-shadow: 0px 0px 36px #10121A1A;

        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 36px #10121A1A;
        /* border-radius: 18px; */
        opacity: 1;
    }

}