<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayout.md="row" fxLayoutAlign="space-between none" class="container">

    <div class="div1" fxLayoutAlign="center center" >
        <div class="lyrics-A">
            <b>Enter the Code</b> that <br><br>
             appears on <b> your TV screen</b>            
        </div>
    </div>
    
    <div class="div2" fxLayoutAlign="center center" >
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout.md="50%">
        <form class="form-container" fxLayout="column"  >

          <div>
            <p class="lyrics-B">Email</p>
            <mat-form-field appearance="outline">
              <input class="lyrics-C" matInput value="user@mail.com">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

          </div>
          <div>
            <p class="lyrics-B">Cast TV code</p>
            <mat-form-field  appearance="outline">
              <input class="lyrics-C" matInput value="AXS 658">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>

            <mat-checkbox class="example-margin lyrics-B">I accept the conditions of use and privacy policies</mat-checkbox>

            <button mat-stroked-button>Connect device</button>
      </form>

      </div>

        
    </div>


</div>
