<div fxLayout="column" >
    <div class="title" fxLayoutAlign="center center">
        You are ready to connect to your <br> favorite streaming apps!
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="div1">
            <mat-card class="example-card" fxLayout="row">
                <mat-card-header>
                  <mat-card-subtitle class="subtitle">1. open your favorite app and select the content you want to share</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/telefono.jpg">
              </mat-card>
              <img *ngIf="deviceXs" class="flecha" fxLayout="row" src="../../assets/img/flecha.png">
    </div>

    
</div>